.div-photo-thumb{
	float: left;
	margin: 8px 6px 8px 6px;
	padding: 8px 6px 8px 6px;
	text-align: center;
	display: inline;
	/*max-height: 150px;*/
}
.div-all-photos{
	width: 100%;
	clear: left;
}
.img-photo-thumb{
	
}
.img-photo-thumb:hover{
	border: 2px solid #8DD8EB;	
}
.latest_photos{
	width: 100%;	
	overflow: hidden;
	display: block;
	clear: left;
}  
.pagination{

}